.body-element {
    margin:1em
}

.body-element:last-of-type {
    margin:auto;
}

#header {
    font-size:xx-large;
    font-family:monospace;
    white-space:pre;
}

#content {
    display:flex;
    flex-flow:column;
    align-items:center;
}

#portal {
    padding:0;
    text-align:center;
    list-style-type:none;
    font-size:large;
}

#socials {
    display:flex;
    flex-flow:row;
    padding:0;
    text-align:center;
    list-style-type:none;
}

.social-icon {
    height: 2.5em;
}
